#logout{
    position: absolute;
    top: 2rem;
    right: 1%;
}
.btn:hover{
    background-color: grey;
}
.titre{
    background-color: grey;
    text-align: center;
}
canvas #graph{
    width: 50%;
    height: 30vh;
}
#actions{
    font-size:20px;
    display: flex;
}
#actions .fa-trash-can{
    color: red;
    cursor: pointer;
}
#actions .fa-pen-to-square{
    color:blue;
    cursor: pointer;
    /* margin-left: 20px; */
}
#btn-delete{
    background-color: transparent;
    border: none;
}
